// card chats
.card-chat {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    border-bottom: $border;
    @include grid_2x(50px, 1fr);
    @include grid_gap(15px);
    &.theme-1 {
        .c-c-top {
            .c-c-name {
                color: $txt-84-color;
            }
            .c-c-date {
                color: $txt-54-color;
            }
        }
    }
    &.theme-2 {
        background-color: #ebebeb;
        .c-c-top {
            .c-c-name {
                color: $txt-84-color;
            }
            .c-c-date {
                color: $txt-54-color;
            }
        }
    }
    &.theme-3 {
        .c-c-top {
            .c-c-name {
                color: $txt-84-color;
            }
            .c-c-date {
                color: $min-color;
            }
        }
        .c-c-mid {
            .c-c-status {
                .ttl {
                    display: block;
                }
            }
        }
    }
    .c-c-col-1 {
        @include column_n(1);
    }
    .c-c-col-2 {
        @include column_n(2);
    }
    .c-c-top {
        position: relative;
        width: 100%;
        @include grid_2x(1fr, 80px);
        .c-c-name {
            @include column_n(1);
        }
        .c-c-date {
            @include column_n(2);
            font-size: 9pt;
            text-align: right;
        }
    }
    .c-c-mid {
        position: relative;
        width: 100%;
        @include grid_2x(1fr, 20px);
        @include grid_gap(15px);
        .c-c-info {
            @include column_n(1);
        }
        .c-c-status {
            @include column_n(2);
            .ttl {
                @include post_top(relative);
                border-radius: 100%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background-color: $min-color;
                color: #fff;
                font-size: 9pt;
                display: none;
            }
        }
    }
    .c-c-bot {
        position: relative;
        width: 100%;
    }
}


.card-object {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    border-bottom: $border;
    @include grid_2x(1fr, 20px);
    @include grid_gap(15px);

    &:hover {
        @include animate_1();
        background-color: $min-color;
        .txt-site {
            color: #fff;
        }
        .ttl {
            display: none;
        }
    }

    &.theme-1 {
        background-color: $min-color;
        .txt-site {
            color: #fff;
        }
        .ttl {
            display: none;
        }
    }

    .ttl {
        @include post_top(relative);
        border-radius: 100%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: $min-color;
        color: #fff;
        font-size: 9pt;
    }
}

.card-message {
    position: relative;
    width: calc(100% - 30px);
    margin: 30px 15px;
    &.c-m-left {
        @include grid_2x(45px, 1fr);
        @include grid_gap(20px);
        .c-m-col-1 {
            @include column_n(1);
        }
        .c-m-col-2 {
            @include column_n(2);
        }
        .c-m-content {
            background-color: #fff;
            .c-m-top {
                .c-m-name {
                    color: $min-color;
                }
                .c-m-date {
                    color: $txt-54-color;
                }
            }
        }
    }
    &.c-m-right {
        .c-m-content {
            background-color: #fff1e2;
            .c-m-top {
                .c-m-name {
                    color: $txt-84-color;
                }
                .c-m-date {
                    color: $txt-54-color;
                }
            }
        }
    }
    .c-m-content {
        position: relative;
        width: calc(100% - 30px);
        padding: 0 15px;
        border-radius: 15px;
        border: $border;
        .c-m-top {
            position: relative;
            width: 100%;
            padding: 15px 0;
            border-bottom: $border;
            @include grid_2x(1fr, 80px);
            .c-m-name {
                font-size: 11pt;
                font-weight: 600;
            }
            .c-m-date {
                font-size: 11pt;
            }
        }
        .c-m-mid {
            position: relative;
            width: 100%;
            padding: 15px 0 20px 0;
            font-size: 11pt;
        }
    }
}