//fonts
@font-face {
	font-family: "FontFirst";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "FontFirstBold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
	font-family: "FontFirstExtraBold";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}

@font-face {
	font-family: "FontSecond";
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
	font-family: "FontSecondBold";
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}
@font-face {
	font-family: "FontSecondExtraBold";
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
	font-family: "FontThred";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
	font-family: "FontThredBold";
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
	font-family: "FontThredExtraBold";
    src: url("../fonts/Raleway/Raleway-ExtraBold.ttf");
}

@font-face {
    font-family: "FontFourth";
    src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf");
}
@font-face {
    font-family: "FontFourthBold";
    src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf");
}
@font-face {
    font-family: "FontFourthLight";
    src: url("../fonts/Comfortaa/Comfortaa-Light.ttf");
}

//variable
$col-full : 1250px; //calc(100% - 100px);
$max-width : 800px;
$std-width : 500px;
$min-width : 300px;

//radius
$radius: 7.5px;
$radius-2: 10px;
$radius-3: 15px;
$radius-4: 20px;

// font
$font: 'FontFirst', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-bold: 'FontFirstBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-extra-bold: 'FontFirstExtraBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-2: 'FontSecond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-2-bold: 'FontSecondBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-2-extra-bold: 'FontSecondExtraBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-3: 'FontThred', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-3-bold: 'FontThredBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-3-extra-bold: 'FontThredExtraBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-4: 'FontFourth', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-4-bold: 'FontFourthBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-4-light: 'FontFourthLight', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

//color
$min-color : #ff711c;
$sek-color : #fff;
$pos-color : #ff9b4b;
$prm-color : #fff000;
$del-color : #f87000;
$err-color : #ff253b;
$pri-color : #f3f3f3;
$pri2-color : #f6f6f6;
$not-color : cyan;
$grn-color: rgb(65, 218, 65);
$saf-color: rgb(104, 170, 255);

$txt-84-color: rgba(0,0,0,0.84);
$txt-54-color: rgba(0,0,0,0.54);
$txt-34-color: rgba(0,0,0,0.34);
$txt-14-color: rgba(0,0,0,0.14);
$txt-min-color: rgba(0,0,0,0.84);
$txt-sek-color: rgba(0,0,0,0.54);

$txt-size-title: 22px;
$txt-size-desc: 14px;
$txt-size-desc: 14px;
$txt-size-big: 32px;
$txt-size-12px: 12px;
$txt-size-14px: 14px;
$txt-size-16px: 16px;
$txt-size-18px: 18px;
$txt-size-20px: 20px;

// border
$border: 1px rgba(225,225,225,0.54) solid;
$border-2: 1px rgba(225,225,225,0.84) solid;
$no-border: 0 #fff solid;

// shadow
$shadow: 0px 2.5px 15px rgba(0,0,0,0.14);
$shadow-2: 0px 2.5px 25px rgba(0,0,0,0.14);